body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

video {
  clear: both;
  display: block;
  margin: 10px;
  background: #000000;
  width: 100px;
  height: 92px;
  transform: scale(-1,1);
}

button {
  padding: 5px;
  float: left;
  margin: 5px 3px 5px 10px;
}



.removed {
  display: none;
}

#status {
  font-size:150%;
}


.flex {
  display: flex;
  flex-direction: row;
}

.flex-side {
  display: flex;
  flex-direction: row;
}

.flex-tate {
  display: flex;
  flex-direction: column;
}
.start-btn{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  max-width: 1060;
}