.haiiro{
    background-color: rgb(220, 220, 220);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.flex-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
  }
.flex-tate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center{
    text-align: center;
    margin:0 ;
  }
.kesu{
    margin : 0;
}
.haku{
    align-items: center;
    margin: 5;
    padding: 5;
}
.midasi{
    padding: 0 10px;
}
.progress{
    border: 1px solid;
    width: 100%;
    height: 10px;
  }
.progress-bar{
    background: rgb(0, 119, 255);
    width: 0;
    height: 100%;
}